.pricing {
  height: 100vh;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("../../public/img-2.jpg");
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.pricing section {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
  width: 600px;
  margin: auto;
}

.pricing h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.pricing p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.pricing section a {
  margin-top: 2rem;
}
