.logo {
  height: 5.2rem;
  width: 150px;
  height: 150px;
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.logoText {
  color: #fff;
  font-size: 36px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  position: absolute;
  left: 10;
  margin-left: 130px;
  padding-top: 1.2rem;
}
